
/* Painel */
.cmdbar
{
    /* background-color: #841212; */
    background-color: #000;
    width: 231px;
    height: 100vh;
    padding: 10px 10px;
}

.cmdbar h1  
{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

#navAdm , #ulAdm
{
    padding: 10px 10px;
    list-style-type: none;
}

#liAdm, a {
    text-decoration: none;
    color: #fff;
}

#aAdm:hover 
{
    color: #bababa;
}

.configCmdBar 
{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    position: relative;
    top: 60%;
}

.configCmdBar:hover 
{
    color: #bababa;
}

/* Link das Configurações dos Coordenadores */
.configCmdBarCordn
{
    margin-top: 45%;
}

/* Link dasConfigurações dos Alunos */
.configCmdBarAluno
{
    margin-top: 35%;
}
